
machine learning/\.ipynb_checkpoints/

robotics/\.ipynb_checkpoints/

robotics/bin/
data science/.ipynb_checkpoints/Text classification-checkpoint.ipynb
data science/.ipynb_checkpoints/coronavirus-checkpoint.ipynb
